@model OnTarget.Models.Manufacturing.BowCaseSelectWorkOrderViewModel

@{
    ViewData["Title"] = "Bow Case Labels Select Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1>Bow Case Labels</h1>

<br />

<div class="row">
    <div class="col-sm-10">
        <form kendo-validator="true" asp-action="BowCaseLabelsSelectWorkOrder" id="EnterWorkOrderToWorkWithBowCaseLabels" method="post" asp-controller="Manufacturing">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">

                            <label class="control-label">Enter Work Order Number to Print Case Labels:</label>

                            @(Html.Kendo().AutoComplete()
                                  .Name("WorkOrderNumber")
                                  .DataTextField("WorkOrderNumber")
                                  .Filter("contains")
                                  .Placeholder("Enter Work Order Number...")
                                  .MinLength(6)
                                  .HtmlAttributes(new { required = "required", style = "width:50%;height:50px" })
                                  .DataSource(source =>
                                  {
                                      source
                                             .Read(read =>
                                             {
                                                 read.Action("SearchBowCaseWorkOrderNumbers", "Manufacturing")
                                                 .Data("onAdditionalWorkOrderNumberData");
                                             })
                                  .ServerFiltering(true);
                                 })
                            )

                            <br />

                            <span class="k-invalid-msg" data-for="WorkOrderNumber" style="width: 500px; display:inline-block;"></span>

                            <br />
                            <br />

                            <label class="control-label">Printer</label>
                            <select asp-for="SelectedPrinterID" asp-items="@Model.LabelPrinters" class="form-control" style="height: 60px;" required title="Please Select a Printer" oninvalid="this.setCustomValidity('Please Select a Printer')" oninput="this.setCustomValidity('')">
                                <option value="" selected>Select Printer</option>
                            </select>
                            <span asp-validation-for="SelectedPrinterID" class="text-danger" style="width: 500px; display: block;"></span>

                            <br />
                            <br />

                            <div class="form-group">
                                <input type="submit" value="Continue" class="btn btn-primary" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewData["Messages"] != null)
{

    @(Html.Kendo().Window()
    .Name("window")
    .Draggable()
    .Resizable()
    .Width(500)
    .Actions(actions => actions.Close())
    .Events(ev => ev.Close("onClose"))
    .Events(eve => eve.Activate("centerKendoWindow"))
    )

    <script>

    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").open();
            $("#undo").hide();
        });

    });

    function onClose() {
        $("#undo").show();
    }

    function centerKendoWindow(e) {

        this.center();
        this.title("Bow Case Labels Select Work Order");
        this.content("@ViewData["Messages"]" + '<br /><br /><button id="closeButton" onclick="closeWindow()" class="k-button">Close</button>');
    }

    function closeWindow() {
            $("#window").data("kendoWindow").close();
    }

    </script>

}

<script>

    function onAdditionalWorkOrderNumberData() {
        return {
            text: $("#WorkOrderNumber").val()
        };
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
