@model IEnumerable<OnTarget.Models.Sales.CustomBowFieldModel>

@{
    ViewData["Title"] = "Modify Custom Bow Fields";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Modify Custom Bow Fields</h1>

@(Html.Kendo().Grid<OnTarget.Models.Sales.CustomBowFieldModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Command(command => command.Edit()).Width(100);
            columns.Bound(c => c.IndexKey).Hidden();
            columns.Bound(c => c.PepperiOrderNum).Width(120).HeaderHtmlAttributes(new { style="text-align: center; overflow: visible; white-space: normal" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(70).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.ItemCode).Width(120).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(70).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.ItemDesc).Width(175).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(90).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowModel).Width(120).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(70).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowHand).Width(120).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(70).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowDrawWeight).Width(120).HeaderHtmlAttributes(new { style="text-align: center; overflow: visible; white-space: normal" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(70).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowRiserColor).Width(150).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(90).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowLimbColor).Width(150).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(90).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowGrip).Width(150).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(90).SuggestionOperator(FilterType.Contains)));
            columns.Bound(c => c.CustomBowOrbit).Width(150).HeaderHtmlAttributes(new { style="text-align: center;" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").InputWidth(90).SuggestionOperator(FilterType.Contains)));
        })
        .HtmlAttributes(new { style = "height: 650px; width: 1450px" })
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .Navigatable()
        .Sortable()
        .Scrollable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Events(events => events.Edit("edit"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .PageSize(50)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(c => c.IndexKey))
            .Read(read => read.Action("CustomBowFields_Load", "Sales"))
            .Update(update => update.Action("CustomBowFields_Update", "Sales"))
  
    )
)

<style>
    .k-widget {
        font-size: 13px
    }

    .k-grid {
        font-size: 9px;
    }
</style>

<script>
    $(function () {
        //Notice that the Name() of the Grid is used to get its client-side instance.
        var grid = $("#grid").data("kendoGrid");
    });

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });

            $("#window").data("kendoWindow").center().title("Modify Custom Bows").content(message + '<br /><br /><button id="closeButton" onclick="closeWindow()" class="k-button">Close</button>').open();
            $("#undo").hide();
        }
    }

   function edit(e) {
       e.container.find('#IndexKey').hide();
       $("label[for='IndexKey']").hide();
       e.container.find('#PepperiOrderNum').hide();
       $("label[for='PepperiOrderNum']").hide();
       e.container.find('#ItemCode').hide();
       $("label[for='ItemCode']").hide();
       e.container.find('#ItemDesc').hide();
       $("label[for='ItemDesc']").hide();
   }

   function onClose() {
        $("#undo").show();
   }

   function closeWindow() {
        $("#window").data("kendoWindow").close();
   }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
