@model OnTarget.Models.Shipping.ShippingLabelsViewModel

<span class="text-danger" style="width: 500px; display:block;">Please select a class to print labels</span>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
