
@{
    ViewData["Title"] = "Contact Us";
}

<br />

<h1>@ViewData["Title"]</h1>

<p>If you have any questions or issues with this site please contact us:</p>
<ul>
    <li>By email: <a href="mailto:it@bowtecharchery.com">it@bowtecharchery.com</a></li>
</ul>

